@model ProdottoViewModel
<h1>Dettagli del prodotto:</h1>

<table class="table table-hover table-bordered table table-striped">
    <tbody>
            <tr>
                <th>Codice</th>
                <td>@Model.Codice</td>
            </tr>
            <tr>
                <th>Prodotto</th>
                <td>@Model.Descrizione</td>
            </tr>
            <tr>
                <th>Tipologia</th>
                <td>@Model.Tipologia</td>
            </tr>
            <tr>
                <td>Prezzo</td>
                <td>@Model.Prezzo</td>
            </tr>

    </tbody>
</table>