@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Amazon</h1>
    <p>Amazon.com, Inc. è un'azienda di commercio elettronico statunitense, con sede a Seattle nello stato di Washington. È la più grande Internet company al mondo[3][4][5]. Time Magazine ha proclamato Jeff Bezos, fondatore dell'azienda, Uomo dell'anno del 1999, a riconoscimento del successo di Amazon nel rendere popolare il commercio elettronico.</p>
</div>
